{% extends 'base.html' %}
{% load custom_filter %}

{% block title %}

Cart 
{% endblock %}



{% block content %}

<h1>this is cart page</h1>
<hr>
{% for i in cart_items %}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{ i.products.product_image.url }}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{i.products.product_name}}</h5>
          <p class="card-text">{{i.products.product_description}}<p>
          <p class="card-text">Product quantity: <b>{{i.quantity}}</b><p>
          <p class="card-text">Price: <b>{{i.products.product_price}}</b><p>
            <form action="{% url 'update-cart-item' i.id %}">
              <button type="button" onclick="updateQuantity(-1,{{i.id}})">-</button>
              <input type="number" name="quantity" id="quantity-{{i.id}}" value="{{i.quantity}}" min="1" max="12">
              <button type="button" onclick="updateQuantity(1,{{i.id}})">+</button>
              <input class="btn btn-primary" type="submit" value="Update cart">

            </form>
            <a class="btn btn-danger" href="{% url 'delete-cart-item' i.id%}" role="button">Delete</a>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}

  <table class="table" style="text-align: center;">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Product price</th>
        <th scope="col">Product quantity</th>
        <th scope="col">Total price</th>
      </tr>
    </thead>
    <tbody>
      {% for i in cart_items %}
      <tr>
        <th scope="row">{{i.products.id}}</th>
        <td>{{i.products.product_name}}</td>
        <td>{{i.products.product_price}}</td>
        <td>{{i.quantity}}</td>
        <td>{{i.quantity|multiply:i.products.product_price}}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
 
  <h1>Total Items price is: {{total}}</h1>




{% endblock %}